<table>
<tr>
    <th>Państwo</th>
    <th>Nowotwory</th>
    <th>Nowotwory złośliwe</th>
</tr>
  {{#kobiety}}
    <tr>
        <td>{{ panstwo }}</td><td>{{ nowotwory }}</td><td>{{ nowotworyzl }}</td>
    </tr>
  {{/kobiety}}
</table>
