<table>
<tr>
    <th>Państwo</th>
    <th>Nowotwory</th>
    <th>Nowotwory złośliwe</th>
</tr>
  {{#mezczyzni}}
    <tr>
        <td>{{ panstwo }}</td><td>{{ nowotwory }}</td><td>{{ nowotworyzl }}</td>
    </tr>
  {{/mezczyzni}}
</table>
